@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root{
    --primary-color:#FFAF33;
}
html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
}
p{
    margin: 0.75rem 0;
}

/* Utility Classs */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: var(--primary-color);
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.l-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.bg-dark{
    background: #333;
    color: #ffff;
}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.m-1{
    margin-bottom: 1.1rem;
}
.btn{
    display: inline-block;
    color: #fff;
    background:var(--primary-color);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    background: #ffbe00;
}
.btn-dark{
    background: #333;
    color: #fff;
}
.btn-sli{
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    align-content: center;
}
.btn-sli:hover{
opacity: 0.8;
}
/* Navbar */
#navbar{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}
#navbar .logo{
    display: flex;
    align-items: center;
}

#navbar ul{
    display:flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
@media(max-width:500px){
    #navbar .logo .text-sec{
        padding-left: 5px;
        margin: 0;
        font-size: 0.5rem;
    }
}

@media screen and (max-width:700px){
   
#navbar ul li a{
    padding: 0 0.5rem;
} 

#navbar ul{
    padding-top: 10px;
}
}
#navbar ul li a:hover{
    background:var(--primary-color);
    border-radius: 3px;
}

/* Showcase */
#showcase{
    background:#333 url('../assets/pexelsmain-landing.jpeg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}


#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top:96px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
}

#showcase .showcase-content img{
    display: block;
    padding-bottom: 1px;
    top:0%; 
    height: 15rem;
    width: 17rem;
    background-color: rgba(255,255,255,0.05);
    margin-bottom: 30px;
}

@media(max-width:1000px){
    #showcase .showcase-content{
        top:116px;
    }

}

@media(max-width:700px){
    #showcase .showcase-content{
        top:97px;
    }


}



/* Services Slider */


#services{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
#services h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}
img{
    width: 100%;
}
.slider{
    background: #f9f9f9;
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

.slider a{
    color: #fff;
    text-decoration: none;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
}
.card h3{
    margin-bottom: 2rem;
    font-size: 3rem;
}

.card img{
    height: 400px;
}

.card >div{
    padding: 2rem;
}
.card:nth-child(even) img{
order: 2;
}
.card div p{
    font-size: 1.5rem;
}
/* Slider MediaQuery */
@media(max-width:700px){
    .card{
        display: block;
    }
}


/* About Section */

#about{
    background: #333;
    height: fit-content;
    text-align: center;
}

#about h3 span{
    color: orange;
    font-size: 3rem;
}
#about h3{
    color: #fff;
}

#about .about-text{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#about .about-c > span{
    color: aquamarine;
}

#about .about-text p{
    border: yellow 1px solid;
    color: azure;
    padding-left: 5px;
    padding-right: 5px;
}


@media(max-width:700px){
    #about .about-text{
        grid-template-columns: 1fr;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}



@media(max-width:700px){
    .about-c p, h1{
        padding-top: 5px;
        font-size: 1.5rem;
    }
}

/* Clients */
#clients .items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border:1px #ffbe00 solid;
    border-radius: 5px;
}

#clients .items h2{
font-size: 1.3rem;
}
#clients .items img{
    display: block;
    margin: auto;
    width: 50%
}
/* Projects */
#projects{
    background-color: #333;
    height: fit-content;

}
#projects .project-title{
    text-align: center;
    padding-top: 15px;
    font-size: 2rem;
    text-transform: uppercase  ;
    color: #ffbe00;
}

#projects .project-text{
    text-align: center;
    padding-bottom: 15px;
    color: wheat;
}



#projects .project-title{
    padding-bottom: 5px;
    
}

@media(max-width:700px){
    .project-text{
        display: none;
    }

    #projects{
        height: 10vh;
        padding: 0.5rem;
        margin: 0.5rem;
        letter-spacing: 2px;
    }

  
}
/* Gallery */
#gallery{
    height: fit-content;
    background: #ffbe00;
}


/* Contact */
#contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.2rem;
}
#contact ul li{
    list-style: none;
}
#contact a{
  text-decoration: none;
  color: #fff;
}

@media(max-width:700px){
    #contact{
        grid-template-columns: 1fr;
        gap: 5px;
    }
    #contact > div{
        border-bottom: black 1px solid;
        padding-top: 5px;
    }
}



/* product cards */

#gallery .p-cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .p-card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .p-card .p-card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .p-card .p-card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;    
    object-fit: cover;
  }
  
  .p-card .p-card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;  
    height: 40px;
  }
  
  .p-card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),-5px -5px 30px 15px rgba(0,0,0,0.22);
    }
  
  .title-white {
    color: white;
    padding-top: 17px;
  }
  
  .title-black {
      padding-top: 17px;
    color: black;
  }

  /* .p-cards .p-ca p{
      
  } */
  
  @media all and (max-width: 500px) {
    .p-card-list {
      flex-direction: column;
    }
  }
  
  
  .p-card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  